{% extends "Home/header.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-sm-8 text-left">
        {% if registered %}
            <h1>Thank you for registering!</h1>
        {% else %}
            <h1>Register Here</h1>
            <h3>Just fill out the form.</h3>
            <div class="col-sm-6">
                <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ worker_form.as_p }}
                <input type="submit" name="" value="Register">
                </form>
            </div>
            <div class="col-sm-6">
                <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ user_profile_form.as_p }}
                <input type="submit" name="" value="Register">
                </form>
            </div>
        {% endif %}
</div>
{% endblock %}
